<div class="container--100 vpad--xxxl bg--grey-darkest bg--image" style="background-image: url('{{site.img}}/content/banner-flights.jpg');">
  <div class="container container--xxl text--center text--white">
    <h3 class="title title--xl text--600">Get to Germany with Lufthansa</h3>
    <div class="space--sm"></div>
    <hr class="hr--center">
    <p class="text--xl">Fly there in style on Germany’s biggest and most awarded airline; Lufthansa. Proudly taking a place as one of the 10 best premier airlines in the world, Lufthansa has just been independently rated as Europe’s first and only five-star airline.</p>
    <div class="space--lg"></div>
    <a href="{{site.baseurl}}/flights" class="btn btn--lg btn--white">Find out more</a>
  </div>
</div>