<div class="bg--fixed vpad--xxxl" style="background-image: url({{site.img}}/content/banner-game.jpg);">
  <div class="container container--xxl text--white text--center">
    <h2 class="title title--xl text--700">Discover your perfect German holiday!</h2>
    <p class="text--xl text--500">Play our game and find your ideal German city and some personalised tips to make the most of your holiday</p>
    <div class="space--sm"></div>
    <a href="{{site.baseurl}}/perfect-break" class="btn btn--lg btn--solid">Play now</a>
  </div>
</div>