---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title-sup: Undiscovered
  title: Germany

intro: >
  <p class="text--xl">Germany is a country where cosmopolitan port cities straddle glistening rivers, where centuries-old buildings are juxtaposed with the gleaming skyscrapers around them, it offers the perfect short break for the modern traveller.</p>
  <p class="text--lg">Quietly beautiful, inspiring and diverse; to truly discover Germany is to scratch the surface of those picture-perfect cities and challenge your preconceptions. You might (and should) expect beautiful architecture and pretty market squares, but look further and find a burgeoning modern food scene, some of the finest beer in the world, serene parks and landscapes, thriving communities of creatives and a multitude of galleries and museums. </p>
  <p class="text--lg">So, how well do you really know Germany? Get to know two of its most exciting cities - Frankfurt and Munich - with our insider guides. </p>

page-links:
  - id: munich
  - id: frankfurt
  - id: flights

---


<div class="bg--grey-darker vpad--xxl">
  <div class="container container--xxl text--white text--center">
    {{page.intro}}
  </div>
</div>


<div class="bg--grey-darkest text--white vpad--xxl">
  <div class="container">

    {% for pglink in page.page-links %}
      {% assign subpage = site.html_pages | where:'id',pglink.id %}
      {% for subpage in subpage %}
      <div class="bob {% cycle '','bob--swap' %}">
        <div class="bob__img">
          <a href="{{site.baseurl}}{{subpage.url}}" class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/banner/{{subpage.id}}.jpg');"></a>
        </div>
        <div class="bob__text">
          <h3 class="title title--xl text--600">{{subpage.title}}</h3>
          <p class="text--lg">{{subpage.parent-intro}}</p>
          <div class="space--md"></div>
          <a class="btn btn--outline btn--outline-white">Find out more</a>
        </div>
      </div>
      {% endfor %}
    {% endfor %}


  </div>
</div>


<div class="bg--fixed vpad--xxxl" style="background-image: url({{site.img}}/content/banner-game.jpg);">
  <div class="container container--xxl text--white text--center">
    <h2 class="title title--xl text--700">Discover your perfect German holiday!</h2>
    <p class="text--xl text--500">Play our game and find your ideal German city and some personalised tips to make the most of your holiday</p>
    <div class="space--sm"></div>
    <a href="{{site.baseurl}}/trip-planner" class="btn btn--lg btn--solid">Play now</a>
  </div>
</div>

