---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  content: >
    <h2 class="title title--md text--wide-kern text--upper text--300">Undiscovered</h2>
    <h1 class="banner__title">Germany</h1>

intro: >
  <p class="text--xl">Germany is a country where cosmopolitan port cities straddle glistening rivers, where centuries-old buildings are juxtaposed with the gleaming skyscrapers around them, it offers the perfect short break for the modern traveller.</p>
  <p class="text--lg">Quietly beautiful, inspiring and diverse; to truly discover Germany is to scratch the surface of those picture-perfect cities and challenge your preconceptions. You might (and should) expect beautiful architecture and pretty market squares, but look further and find a burgeoning modern food scene, some of the finest beer in the world, serene parks and landscapes, thriving communities of creatives and a multitude of galleries and museums. </p>
  <p class="text--lg">So, how well do you really know Germany? Get to know two of its most exciting cities - Frankfurt and Munich - with our insider guides. </p>

page-links:
  - id: munich
  - id: frankfurt
  - id: flights

map:
  - title: Munich
    position: "top: 88%; left: 63%;"
    link: munich
  - title: Frankfurt
    position: "top: 66%; left: 30%;"
    link: frankfurt
  - title: Berlin
    position: "top: 33%; left: 86%;"
    link: explore#berlin
  - title: Cologne
    position: "top: 52%; left: 25%;"
    link: explore#cologne
  - title: Dresden
    position: "top: 52%; left: 89%;"
    link: explore#dresden
  - title: Düsseldorf
    position: "top: 48%; left: 11%;"
    link: explore#dusseldorf
  - title: Hamburg
    position: "top: 21%; left: 45%;"
    link: explore#hamburg
  - title: Hannover
    position: "top: 37%; left: 41%;"
    link: explore#hannover
  - title: Leipzig
    position: "top: 49%; left: 72%;"
    link: explore#leipzig
  - title: Nuremberg
    position: "top: 73%; left: 54%;"
    link: explore#nuremberg
  - title: Stuttgart
    position: "top: 82%; left: 34%;"
    link: explore#stuttgart


---


<div class="bg--grey-darker vpad--xxl">
  <div class="container container--xxl text--white text--center">
    {{page.intro}}
  </div>
</div>


<div class="bg--grey-darkest text--white vpad--xxl">
  <div class="container">

    {% for pglink in page.page-links %}
      {% assign subpage = site.html_pages | where:'id',pglink.id %}
      {% for subpage in subpage %}
      <div class="bob {% cycle '','bob--swap' %}">
        <div class="bob__img">
          <a href="{{site.baseurl}}{{subpage.url}}" class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/banner/{{subpage.id}}.jpg');"></a>
        </div>
        <div class="bob__text">
          <h3 class="title title--xl text--600">{{subpage.title}}</h3>
          <p class="text--lg">{{subpage.parent-intro}}</p>
          <div class="space--md"></div>
          <a class="btn btn--outline btn--outline-white">Find out more</a>
        </div>
      </div>
      {% endfor %}
    {% endfor %}


  </div>
</div>



{% include page/promo-game.html %}

