// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 60%;
  min-height: 450px;
  max-height: 700px;
  background-color: $grey;
  color: $white;
  & .title { color: $white; }
  @include bp($lg){
    height: 90%;
    min-height: 650px;
    max-height: none;
  }
  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    background-color: rgba($b-navy,0.3);
  }


  // MAP
  &__map { display: none; }
  @include bp($xl){
    &__map {
      position: absolute;
      top: 0; left: 0;
      bottom: 0; right: 0;
      z-index: 1;
      display: block;
      // wrap to constrain the map to 1200px
      &-wrap { position: relative; }
      // sized and positioned map for pins to be placed
      &-frame {
        @include transition();
        z-index: 5;
        max-width: 560px;
        width: 66.667%;
        position: absolute;
        top: 0;
        right: $s2;
        @include bp($md){ right: $s4; }
        &:before {
          content: "";
          display: block;
          width: 100%;
          padding-top: 135.706%;
        }
        &__bg {
          z-index: 0;
          position: absolute;
          top: 0; left: 0;
          bottom: 0; right: 0;
          background-image: url('../img/banner/overview/map.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0.5;
          .map--active & {
            opacity: 0.8;
          }
        }
      }
      // map pins
      &-icon {
        position: absolute;
        z-index: 1;
        &__icon {
          @include transition();
          $icon-width: 38px;
          $icon-height: 47px;
          position: absolute;
          display: block;
          top: -$icon-height;
          left: -$icon-width/2;
          height: $icon-height;
          width: $icon-width;
          background-image: url(../img/icons/map-pin-dark.png);
          background-size: contain;
          background-repeat: no-repeat;
          transform-origin: bottom center;
        }
        &:hover &__icon { transform: scale(1.33); }
        &__label {
          @include transition();
          display: block;
          width: 160px;
          position: absolute;
          top: 100%;
          left: -80px;
          padding-top: 0;
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: $s0;
          opacity: 0;
          pointer-events: none;
        }
        &:hover &__label {
          pointer-events: all;
          padding: 0.5em;
          opacity: 1;
          text-shadow: 0 0 10px rgba($grey-darkest,0.5);
        }
      }
      // Gradient overlay behind map frame element
      &-overlay {
        @include transition();
        position: absolute;
        top: 0; bottom: 0; right: 0;
        display: block;
        width: 50%;
        background: linear-gradient(90deg,rgba($grey-darkest,0) 0,rgba($grey-darkest,.3) 50%);
        .map--active & {
          width: 70%;
          background: linear-gradient(90deg,rgba($grey-darkest,0) 0,rgba($grey-darkest,.6) 50%);
        }
      }
    } //end __map
  }
}

// BANNER CAROUSEL
.banner--carousel {
  text-align: center;
  min-height: 90%;
  .banner {
    &__wrap { pointer-events: none; }
    &__slide {
      @include background-attributes();
      background-position: center;
    }
  }
}

// BANNER MAP
.banner--map {
  min-height: 90%;
  text-align: center;
  @include bp($xl){
    text-align: left;
  }
  .banner {
    &__wrap { pointer-events: none; }
    &__slide {
      @include background-attributes();
      background-position: center;
    }
    &__title {
      font-family: $font-title-01;
      font-size: $s8;
      font-weight: 700;
      letter-spacing: .05em;
      text-transform: uppercase;
      line-height: 1;
      @include bp($md){
      font-size: $s9;
      }
      @include bp($lg){
        font-size: $s11;
      }
      @include bp($xl){
        font-size: $s10;
      }
      @include bp($xxxl){
        font-size: $s11;
      }
    }
  }
}