// general modifier styles for text

.text {
  // sizes
  &--xxl { font-size: $s3; }
  &--xl  { font-size: $s2; line-height: 1.6; }
  &--lg  { font-size: $s1; line-height: 1.6; }
  &--sm  { font-size: $s-1; }

  // styles
  &--italic       { font-style: italic; }
  &--kern    { letter-spacing: .05em; }
  &--wide-kern    { letter-spacing: .15em; }
  &--wide-kern-lg { letter-spacing: .3em; }
  &--upper        { text-transform: uppercase; }
  &--200          { font-weight: 200; }
  &--300          { font-weight: 300; }
  &--400          { font-weight: 400; }
  &--500          { font-weight: 500; }
  &--600          { font-weight: 600; }
  &--700          { font-weight: 700; }

  // colours
  &--white { color: $grey-lightest; }
  &--black { color: $grey-dark; }

  // alignment
  &--left   { text-align: left; }
  &--right  { text-align: right; }
  &--center { text-align: center; }
  @include bp($lg) {
    &--bp-left   { text-align: left; }
    &--bp-right  { text-align: right; }
    &--bp-center { text-align: center; }
  }
}