---
layout: default
id: flights
nav: true
nav-order: 6
title: Getting there

link: "https://www.lufthansa.com/uk/en/Homepage"


parent-intro: Start your city adventure on a high and fly directly to Munich or Frankfurt from the UK with Germany’s biggest airline - Lufthansa. You’ll arrive comfortably and in style, allowing you to wind-down the moment you board the plane, especially with handy features such as in-flight Wi-Fi to keep you entertained.
intro: >
  <p class="text--lg">Acquaint yourself with Undiscovered Germany and fly there in style on Germany’s biggest and most awarded airline; Lufthansa. </p>
  <p class="text--lg">Proudly taking a place as one of the 10 best premier airlines in the world, Lufthansa has just been independently rated as Europe’s first and only five-star airline. </p>
  <p class="text--lg">With outstanding staff making you feel comfortable and welcome on board, plus an exemplary experience both in the air and on the ground, Lufthansa is the natural choice for any discerning traveller who won’t compromise on superb quality and service.</p>



page-nav:
  - id: key-routes
    title: Key Routes
  - id: experience
    title: The Experience
  - id: family
    title: Family Services



key-routes: >
  <p>Lufthansa and its partners connect UK and Germany with an attractive flight schedule and numerous departure points! We operate from 14 UK airports including Birmingham, Bristol, Edinburgh, Glasgow, London City, London Heathrow and Manchester to name a few. In addition, there are numerous year-round and seasonal flights from various regional airports to Frankfurt, Munich, Cologne, Dusseldorf, Berlin and other popular German cities. </p>
  <p>If you’re flying long-haul, you can explore the globe with Lufthansa via their efficient hubs Frankfurt and Munich (and perhaps stop off for city break on the way!).</p>



sections:

  - title: The Lufthansa Experience
    id: experience
    features:
      - title: Economy
        id: economy
        link: https://www.lufthansa.com/uk/en/Economy-Class
        content: >
          <p>To fly economy with Lufthansa is anything but basic. On short-haul flights, the slimline seats create maximum cabin space, which means maximum legroom for you. Included snacks and drinks keep you refreshed and payable Wi-Fi is available on some flights, keeping you connected from the skies. </p>

      - title: Business
        id: business
        link: https://www.lufthansa.com/uk/en/Business-Class
        content: >
          <p>Go business class for a truly luxurious all-round experience. Short-haul business class flights offer a generous two hold bags per person, access to an airport lounge, priority check-in and boarding, a full meal served on fine china, plus additional personal space with a guaranteed empty middle seat in a row of three. </p>

      - title: What’s onboard?
        id: whats-onboard
        link: https://www.lufthansa.com/uk/en/flynet
        content: >
          <p>Fly short-haul and you can Instagram that jaw-dropping view from the plane window or send that important email with payable Lufthansa FlyNet® Wi-Fi, available on selected flights.</p>



  - title: Family Services
    id: family
    features:
      - title: Lean back, relax – and enjoy planning
        id: relax
        link: https://www.lufthansa.com/uk/en/Travelling-with-children
        content: >
          <p>Flying with little ones can be a challenge – which we would like to help you with. Rely on our tips and checklists and start your family adventure stress-free.</p>

      - title: Picnic above the clouds
        id: food
        link: https://www.lufthansa.com/uk/en/Childrens-menus-on-board
        content: >
          <p>Traveling makes people hungry – particularly children! Take advantage not only of the offer on board, which at Lufthansa comprises tasty and varied children’s menus (please preorder!), but also think about taking some favorite snacks for easy access in between mealtimes</p>

      - title: Fun and games
        id: games
        link: https://www.lufthansa.com/uk/en/Entertainment-on-board
        content: >
          <p>Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>


---



<div class="bg--white">
  <div class="container vpad--xxl">
    <div class="row row--gutters row--valign-center">

      <div class="col col--6">
        <p class="text--lg">{{page.intro}}</p>
        <div class="space--sm"></div>
        <a href="{{page.link}}" class="btn btn--lufthansa">View Lufthansa flights</a>
      </div>

      <div class="col col--6">
        <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/video.jpg);">
          <div class="bg-img__content">
            <div class="bg-img__play"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% include nav/page.html %}
</div>




<div class="bg--grey-lightest harvey">
  <div class="wp" id="key-routes"></div>
  <div class="harvey__text text--center">
    <h2 class="title title--md text--600">Key Routes</h2>
    {{page.key-routes}}
  </div>
  <div class="harvey__img bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/routes.jpg');"></div>
</div>




<div class="bg--white vpad--xl">
  {% for section in page.sections %}
  <div class="wp" id="{{section.id}}"></div>
  {% unless forloop.first %}<hr class="hr--center">{% endunless %}
  <div class="container vpad--lg">
    <div class="text--center">
      <h2 class="title title--lg text--700">{{section.title}}</h2>
      <div class="space--xl"></div>
    </div>

    <div class="row row--4-4-4 row--gutters-lg">
      {% for feature in section.features %}
      <div class="col">
        <a href="{{feature.link}}" class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/{{feature.id}}.jpg);"></a>
        <div class="space--md"></div>
        <h2 class="title title--xs text--500">{{feature.title}}</h2>
        {{feature.content}}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>


<div class="container text--center">
  <a href="{{page.link}}" class="btn btn--lg btn--lufthansa">View Lufthansa flights</a>
  <div class="space--xxxl"></div>
</div>

