---
layout: default
id: other-cities
nav: true
nav-order: 4
title: Other Cities



page-nav:
  - title: Berlin
    id: berlin
  - title: Cologne
    id: cologne
  - title: Dresden
    id: dresden
  - title: Düsseldorf
    id: dusseldorf
  - title: Hamburg
    id: hamburg
  - title: Hannover
    id: hannover
  - title: Leipzig
    id: leipzig
  - title: Nuremberg
    id: nuremberg
  - title: Stuttgart
    id: stuttgart



banner:
  title: Explore Germany

intro: >
  <p class="text--xl">Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>



sections:

  - title: Berlin
    id: berlin
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/berlin.html
    content: >
      <p class="text--lg">One of Europe’s finest cities, Berlin makes for a remarkably unique city break. From quirky brunch spots to bohemian bars, discover both east and west with a fascinating history that laid the foundation for one artsy, hip and irresistable city.</p>



  - title: Cologne
    id: cologne
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/cologne.html
    content: >
      <p class="text--lg">Gothic spires reach far into the sky in this historical, yet thoroughly contemporary, west German powerhouse. Let your jaw drop at the gothic masterpiece of Cologne Cathedral, before heading to a waterside Rhine bar for a classic Kölsch and a day exploring great museums and galleries.</p>



  - title: Dresden
    id: dresden
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/dresden.html
    content: >
      <p class="text--lg">A remarkable city, Dresden was all but flattened during the Second World War. It’s magnificent Renaissance marvels that once earned the moniker ‘Florence of the North’ were completely rebuilt, the precious contents returned – explore the museums and galleries in this decadent city.</p>



  - title: Düsseldorf
    id: dusseldorf
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/duesseldorf.html
    content: >
      <p class="text--lg">Glistening post-modern buildings and a sleek, smart set of locals affirm Düsseldorf’s business credentials – with luxury shopping and dining to complement. Yet along the Rhine, the chocolate-box old town still remains the favourite spot to unwind with a classic Altbier.</p>



  - title: Hamburg
    id: hamburg
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/hamburg.html
    content: >
      <p class="text--lg">A wonderfully liberal harbour town, Hamburg is a northern bastion of progressive cool in a landscape of harbour cranes and waterside modernism. Vibrant neighbourhoods and a multicultural foodie scene, plus an acclaimed music scene, makes Hamburg a destination for those in-the-know.</p>



  - title: Hannover
    id: hannover
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/hannover.html
    content: >
      <p class="text--lg">Walk the cobbled streets of the chocolate box old town, delight at the neo-classical marvel of the Opera House, or walk the serene Herrenhausen Gardens. Hanover is a little-known gem; flea markets on the river, the hip Linden neighbourhood, and pilsners at the water’s edge. </p>



  - title: Leipzig
    id: leipzig
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/leipzig.html
    content: >
      <p class="text--lg">Saxony’s most hip city is a centre of creative cool, full of big ideas and laid-back locals. Music and art are the language of the city, with a certain bohemian flair making Leipzig a true rival to Berlin. Museums, galleries and plenty of music and comedy make Leipzig a refreshing city break. </p>



  - title: Nuremberg
    id: nuremberg
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/nuremberg.html
    content: >
      <p class="text--lg">The second-largest Bavarian city is a medieval wonder, where the castle towers loom over a gorgeous old town. With foodie treats (try the ‘Drei im Weggla’!) and dark, dark beers adding to the Bavarian delights, Nuremberg makes for a spectacular break of authentic Bavarian charms. </p>



  - title: Stuttgart
    id: stuttgart
    link: http://www.germany.travel/en/towns-cities-culture/towns-cities/stuttgart.html
    content: >
      <p class="text--lg">Home of the world’s finest cars – Porsche and Mercedes Benz – Stuttgart is a hub for refined, artisanal experiences. Fine restaurants grace streets of Baroque marvels, including the ballet, state museum and more. Don’t miss the vineyards that dot the hills around the city.</p>



---





<div class="bg--grey-lightest">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
    {% if page.expert-intro %}
    <div class="space--lg"></div>
    <div class="boxpad--lg bg--white">
      {{page.expert-intro}}
    </div>
    {% endif %}
  </div>
  {% include nav/page.html %}
</div>


{% for section in page.sections %}
<div class="{% cycle '',' bg--grey-lightest'%}">
  <div class="wp" id="{{section.id}}"></div>

  <div class="container vpad--xxxl">

    <div class="row row--valign-center row--gutters-lg bob{% cycle '',' bob--swap'%}">

      <div class="bob__text">
        <h2 class="title title--xl text--600">{{section.title}}</h2>
        {{section.content}}
        <div class="space--sm"></div>
        <a href="{{section.link}}" class="btn btn--solid">Find out more</a>
      </div>

      <div class="bob__img">
        <a href="{{section.link}}" class="bg-img bg-img--21-9" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/1.jpg');"></a>
        <div class="row row--constant-6-6 row--no-gutters">
          <div class="col">
            <a href="{{section.link}}" class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/2.jpg');"></a>
          </div>
          <div class="col">
            <a href="{{section.link}}" class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/3.jpg');"></a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endfor %}



<div class="bg--grey-lightest vpad--xxl">
  <div class="container">

    <div class="text--center">
      <h2 class="title title--xl text--600">Offers</h2>
      <div class="space--xl"></div>
    </div>

    <div class="row row--xl-6-6 row--gutters-lg vpad--md">
      {% assign offers = site.data.offers | where:'page',page.id | sort: 'saved' | reverse %}
      {% for offer in offers %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>

    <div class="text--center">
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/offers" class="btn btn--lg btn--solid">View all offers</a>
    </div>

  </div>

</div>
