---
layout: default
id: perfect-break
title: Find your perfect break
nav: true
nav-order: 5


game-results:

  - id: food-munich
    title: Munich
    content: You like the classic Bavarian charms of Munich! Pair this with the finest of German dining and you’re set for a decadent break in Bavaria.
    offer-id: bold-hotel-giesing
    highlights:
      - id: fine-dining
      - id: guided-tasting-tour

  - id: food-frankfurt
    title: Frankfurt
    content: You like the sleek modernity of cool Frankfurt! From apple wine to concept restaurants, get under the skin of Frankfurt’s foodie scene.
    offer-id: adina-apartment-hotel-frankfurt-westend
    highlights:
      - id: apple-wine
      - id: frankfurt-food-spots

  - id: social-munich
    title: Munich
    content: You like the classic Bavarian charms of Munich! Pair this with the iconic, unmissable experience of a Munich beer garden and hang with locals with a pils in hand.
    offer-id: bold-hotel-giesing
    highlights:
      - id: beer-gardens-for-beginners
      - id: guided-tasting-tour

  - id: social-frankfurt
    title: Frankfurt
    content: You like the sleek modernity of cool Frankfurt! Socialise with locals in the cool neighborhoods that lie a little off-the-beaten-path, for in-the-know dining and quirky bars.
    offer-id: plaza-frankfurt-congress-hotel
    highlights:
      - id: frankfurt-food-spots
      - id: festivals

  - id: explorer-munich
    title: Munich
    content: You like the classic Bavarian charms of Munich! Explore the luscious green spaces and remarkable architecture of the city, with riverside dining and charming walks to enjoy.
    offer-id: bold-hotel-giesing
    highlights:
      - id: green-city
      - id: architecture

  - id: explorer-frankfurt
    title: Frankfurt
    content: You like the sleek modernity of cool Frankfurt! Explore the unique design and architecture of the city, taking you from the cutting edge to the old – perfect for urban wanderers.
    offer-id: adina-apartment-hotel-frankfurt-westend
    highlights:
      - id: new-old-town
      - id: frankfurt-museum-embankment

  - id: culture-munich
    title: Munich
    content: You like the classic Bavarian charms of Munich! Discover the famous galleries and museums of the city and explore Munich’s cultural prowess.
    offer-id: bold-hotel-giesing
    highlights:
      - id: art-galleries
      - id: architecture

  - id: culture-frankfurt
    title: Frankfurt
    content: You like the sleek modernity of cool Frankfurt! Discover the cultural heritage of the city along museum embankment and a host of galleries that make Frankfurt a cultural delight.
    offer-id: plaza-frankfurt-congress-hotel
    highlights:
      - id: new-old-town
      - id: frankfurt-museum-embankment
---





<div class="bg--grey-darkest vpad--xxl">
  <div class="game container">


    <!-- GAME
    ==============-->
    <div class="game__wrap text--white text--center">
      <div class="game__category">
        <div class="game__message">
          <div class="title title--xs text--upper">Pick <span class="text--bold">five</span> images that look like your perfect break</div>
          <a id="track-category-submit" class="btn btn--red game__category-submit js-game__category-submit">Continue</a>
        </div>
        <div class="game__category-list js-game__category-list"></div>
      </div>
      <div class="game__style">
        <div class="container game__message">
          <div class="title title--xs text--upper">Now pick <span class="text--bold">five</span> more and reveal your perfect getaway!</div>
          <a id="track-game-result" class="btn btn--red game__style-submit js-game__style-submit">Reveal your perfect break</a>
        </div>
        <div class="container">
          <div class="game__style-list js-game__style-list"></div>
        </div>
      </div>
    </div>


    <!-- RESULT
    ==============-->
    <div class="game__result">
      <div class="container container--no-padding">
        {% for result in page.game-results %}
        <div class="result js-result-{{result.id}}">
          <div class="container container--no-padding container--xl text--center text--white">
            <div class="title title--xs">Your perfect break is...</div>
            <div class="space--xs"></div>
            <div class="title title--xl text--bold">{{result.title}}</div>
            <div class="space--xs"></div>
            <hr class="hr--center">
            <p class="text--lg">{{result.content}}</p>
          </div>

          <!-- Result offers & highlights -->
          <div class="vpad--xl">

            <div class="container container--no-padding container--xxxl">
              <div class="row row--gutters-lg row--constant-6-6">
                {% for highlightId in result.highlights %}
                  {% assign highlight = site.data.highlights | where: 'id',highlightId.id %}
                  {% for highlight in highlight %}
                    <div class="col">
                      <div class="poi bg--grey-darker text--white row row--valign-center row--no-gutters">
                        <a href="{{site.baseurl}}/{{highlight.page}}" class="col col--4 bg-img bg-img--16-9 bg-img--lg-1-1" style="background-image: url({{site.img}}/content/{{highlight.page}}/poi/{{highlight.id}}.jpg);"></a>
                        <div class="col col--8">
                          <div class="boxpad--lg">
                            <h4 class="title title--xxs text--500 text--upper">{{highlight.title}}</h4>
                            <p>{{highlight.content | truncatewords: 10}} <a href="{{site.baseurl}}/{{highlight.page}}">Read more</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
              <div class="space--xl"></div>
              {% assign result-offer = site.data.offers | where: "id", result.offer-id %}
              {% for offer in result-offer %}
                {% include offer/offer-lg.html %}
              {% endfor %}
              <div class="space--xl"></div>
              <div class="text--center">
                <a id="tracking-game-lufthansa-btn" target="_blank" href="https://www.lufthansa.com/uk/en/Homepage?WT.mc_id=onlad_lhcom_UK_en_secretescapesH_desktop" class="btn btn--lg btn--orange">Find flights to {{result.title}}</a>
              </div>
            </div>
          </div>


          <div class="container container--no-padding text--center">
            <a id="track-game-reset" class="js-game__reset btn btn--solid btn--lg">Choose Again?</a>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>




