---
layout: guide
---


<div class="vpad--xxl">
  <div class="container container--xxl">
    {{page.intro}}
  </div>
  <div class="container container--xxxl">
    <div class="bg-img bg-img--21-9" style="background-image: url({{site.img}}/img.jpg);"></div>
    <div class="container container--xxl vpad--lg bg--white">
      <p class="text--xxl text--italic">This Bavarian metropolis has many an unexpected card down its Dirndl.</p>
    </div>
  </div>
</div>


{% for section in page.sections %}
<div class="container">

  <div class="container container--xxl">
    <h2 class="title title--xl text--bolder">{{section.title}}</h2>
    <p class="text--xl">{{section.content}}</p>
    <div class="space--xl"></div>
  </div>

  <div class="row row--4-4-4">
    {% for poi in section.pois %}
    <div class="col">
      <div class="boxpad--lg">
        <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/img.jpg);"></div>
        <div class="space--sm"></div>
        <h4 class="title title--xs text--bolder">{{poi.title}}</h4>
        <p>{{poi.content}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="space--xxxl"></div>
{% endfor %}




<div class="container">

  <div class="container container--xxl">
    <h2 class="title title--xl text--bolder">{{page.title}} offers</h2>
    <div class="space--xl"></div>
  </div>

  <div class="row row--xl-6-6 row--gutters-lg">
    {% assign offers = site.data.offers | where:'page',page.id | sort: 'saved' | reverse %}
    {% for offer in offers %}
      <div class="col">
        {% include offer/offer.html %}
      </div>
    {% endfor %}
  </div>

</div>
<div class="space--xxxl"></div>




{% assign cities = site.html_pages | where:'layout','city' %}
<div class="container--100">
  {% for city in cities %}
  {% unless city.id == page.id %}
  <a href="{{site.baseurl}}{{city.url}}" class="bg-img bg-img--4-1" style="background-image: url('{{site.img}}/img.jpg');">
    <div class="bg-img__content bg-img__content-hover">
      <h3 class="title title--xxl text--bolder">Up next</h3>
    </div>
    <div class="bg-img__content">
      <div class="container">
        <h3 class="title title--xl text--bolder">{{city.title}}</h3>
        <p class="text--lg">{{city.banner.content|truncate:120}}</p>
      </div>
    </div>
  </a>
  {% endunless %}
  {% endfor %}
</div>