---
layout: default
---

{% include page/header-minimal.html %}


<div class="game">
  <div class="game__landing">
    <div class="container vpad--xxxl text--center text--white">
      <h1 class="title title--xxxl text--bolder">Trip planner</h1>
      <div class="space--md"></div>
      <p class="text--xxl">Choose images and be presented with a destination and offer that suits you</p>
      <div class="space--md"></div>
      <a href="" class="btn btn--solid">Start now</a>
    </div>
  </div>
</div>


<div class="content-spacing section-spacing bg--grey-lightest">
  <div class="wp" id="pagecontent"></div>

  {{ content }}

</div>

