---
layout: default
---






<div class="bg--grey-lightest">

  <div class="vpad--xxl">
    <div class="container container--xxl text--center">
      {{page.intro}}
    </div>

    {% if page.expert.name %}
    <div class="container container--xxxl">

      <div class="text--center">
        <hr class="hr--center">
        <h3 class="title title--lg text--bold vpad--md">A local's perspective</h3>
      </div>

      <div class="expert">
        <div class="row">
          <div class="col col--4">
            <div class="expert__image bg-img bg-img--1-1" style="background-image: url({{site.img}}/content/{{page.id}}/expert.jpg);"></div>
            <div class="expert__intro">
              <span class="title title--xs text--upper text--bolder">{{page.expert.name}}</span>
              <p class="text--lg">{{page.expert.intro}}</p>
            </div>
          </div>
          <div class="col col--8">
            {{page.expert.content}}
          </div>
        </div>
      </div>

    </div>
    {% endif %}
  </div>

  {% include nav/page.html %}
</div>






{% if page.map-url %}
<div class="bg--grey-lightest vpad--xxxl bg--image" style="background-image: url({{site.img}}/content/{{page.id}}/banner-map.jpg);">
  <div class="wp" id="map"></div>
  <div class="container container--xxl text--center text--white">
    <span class="title title--xl text--700">Explore {{page.title}}</span>
    {% if page.map-intro %}<p class="text--xxl">{{page.map-intro}}</p>{% endif %}
    <div class="space--lg"></div>
    <a href="javascript:void(0);" data-modal-item="{{page.id}}-map" data-map-url="{{page.map-url}}" class="js-open-modal btn btn--outline btn--outline-white btn--lg">{{page.map-cta}}</a>
  </div>
</div>
{% endif %}






{% for section in page.sections %}
<div class="bg--fixed" style="background-image: url({{site.img}}/content/{{page.id}}/bg-{{section.id}}.jpg);">
  <div class="wp" id="{{section.id}}"></div>

  <div class="container vpad--xxxl">
    <div class="container container--xxl">
      <h2 class="title title--xxl text--600">{{section.title}}</h2>
      <div class="space--md"></div>
      <div class="container--xl">{{section.content}}</div>
      <div class="space--xxl"></div>
    </div>

    <div class="row row--4-4-4">
      {% for highlightId in section.highlights %}
        {% assign highlight = site.data.highlights | where: 'id',highlightId.id %}
        {% for highlight in highlight %}
          <div class="col">
            <div class="poi">
              <div class="poi__image bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/poi/{{highlight.id}}.jpg);"></div>
              <div class="poi__text boxpad--lg bg--white">
                <h4 class="title title--xxs text--500 text--upper">{{highlight.title}}</h4>
                <p>{{highlight.content}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>

  </div>

</div>
{% endfor %}






<div class="bg--white vpad--xxl">
  <div class="container">

    <div class="text--center">
      <h2 class="title title--xxl text--600">Travel offers</h2>
      <div class="space--xl"></div>
    </div>

    <div class="row row--xl-6-6 row--gutters-lg vpad--md">
      {% assign offers = site.data.offers | where:'page',page.id | sort: 'saved' | reverse %}
      {% for offer in offers %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>

    <div class="text--center">
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/offers" class="btn btn--lg btn--solid">View all offers</a>
    </div>

  </div>

</div>



{% include page/promo-flights.html %}


