---
layout: default
---



<div class="bg--white">
  <div class="container container--xxl vpad--xxl text--center">
    <p class="text--xl">{{page.intro}}</p>
    {% if page.expert-intro %}
    <div class="space--lg"></div>
    <div class="boxpad--lg bg--grey-lightest">
      {{page.expert-intro}}
    </div>
    {% endif %}
  </div>
  {% include nav/page.html %}
</div>



<div class="bg--grey-lightest vpad--xxxl bg--fixed" style="background-image: url({{site.img}}/content/{{page.id}}/banner-map.jpg);">
  <div class="wp" id="map"></div>
  <div class="container container--xxl text--center text--white">
    <span class="title title--xl text--700">Explore {{page.title}} from above</span>
    <p class="text--xxl">{{page.map-intro}}</p>
    <div class="space--lg"></div>
    <a href="javascript:void(0);" data-modal-item="{{page.id}}-map" data-map-url="{{page.map-url}}" class="js-open-modal btn btn--outline btn--outline-white btn--lg">Explore {{page.title}}</a>
  </div>
</div>



{% for section in page.sections %}
<div class="container">
  <div class="wp" id="{{section.id}}"></div>

  <div class="vpad--xxl">
    <div class="container container--xxl">
      <h2 class="title title--xl text--600">{{section.title}}</h2>
      <p class="text--xl">{{section.content}}</p>
      <div class="space--lg"></div>
    </div>

    <div class="row row--4-4-4">
      {% for poi in section.pois %}
      <div class="col">
        <div class="boxpad--lg">
          <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/img.jpg);"></div>
          <div class="space--sm"></div>
          <h4 class="title title--xs text--600">{{poi.title}}</h4>
          <p>{{poi.content}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if section.expert-tip %}
    <div class="container container--xxl">
      <div class="space--lg"></div>
      <div class="bg--grey-lightest row row--no-gutters row--valign-center">
        <div class="col col--8">
          <div class="boxpad--lg">
            <h4 class="title title--xs text--bold">A tip from our expert</h4>
            {{section.expert-tip}}
          </div>
        </div>
        <div class="col col--4">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/img.jpg);"></div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>

</div>
{% endfor %}



<div class="bg--grey-lightest vpad--xxl">
  <div class="container">

    <div class="text--center">
      <h2 class="title title--xl text--600">{{page.title}} offers</h2>
      <div class="space--xl"></div>
    </div>

    <div class="row row--xl-6-6 row--gutters-lg vpad--md">
      {% assign offers = site.data.offers | where:'page',page.id | sort: 'saved' | reverse %}
      {% for offer in offers %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>

    <div class="text--center">
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/offers" class="btn btn--lg btn--solid">View all offers</a>
    </div>

  </div>

</div>


<div class="container--100 vpad--xxxl bg--grey-darkest bg--fixed" style="background-image: url('{{site.img}}/content/banner-flights.jpg');">
  <div class="container container--xxl text--center text--white">
    <h3 class="title title--xl text--600">Get to {{page.title}} with Lufthansa</h3>
    <hr class="hr--center">
    <p class="text--lg">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
    <div class="space--lg"></div>
    <a href="{{site.baseurl}}/flights" class="btn btn--lg btn--solid">View flights</a>
  </div>
</div>


