---
layout: default
---



<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}
</div>



<div class="bg--grey-lightest">
  <div class="container vpad--xxl">
    {% include offer/all-offers.html %}
  </div>
</div>



{% include page/promo-offers.html %}



<div class="container--100 vpad--xxxl bg--grey-darkest bg--image" style="background-image: url('{{site.img}}/content/banner-flights.jpg');">
  <div class="container container--xxl text--center text--white">
    <h3 class="title title--xl text--600">Get to Germany with Lufthansa</h3>
    <div class="space--xs"></div>
    <p class="text--xl text--bold">Fly there in style on Germany’s biggest and most awarded airline; Lufthansa. Proudly taking a place as one of the 10 best premier airlines in the world, Lufthansa has just been independently rated as Europe’s first and only five-star airline.</p>
    <div class="space--lg"></div>
    <a id="tracking-flights-banner-btn" target="_blank" href="https://www.lufthansa.com/uk/en/Homepage?WT.mc_id=onlad_lhcom_UK_en_secretescapesH_desktop" class="btn btn--lg btn--white">Find out more</a>
  </div>
</div>
